@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    font-family: 'Dancing Script', cursive, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    font-size: 1.0em; /* Aumento del tamaño del texto */
}

.header {
    background-color: #000; /* Fondo negro */
    color: #d4af37; /* Dorado pastel */
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid #d4af37; /* Dorado pastel */
}

.header img {
    width: 200px;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #111; /* Fondo negro oscuro */
    border-bottom: 2px solid #d4af37; /* Dorado pastel */
}

.nav a {
    color: #d4af37; /* Dorado pastel */
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.nav a:hover {
    background-color: #d4af37; /* Dorado pastel */
    color: #000; /* Texto negro */
}

.main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2em; /* Aumento del tamaño del texto para encabezados */
}

p {
    font-size: 1.0em; /* Aumento del tamaño del texto para párrafos */
}

.section {
    margin: 40px 0;
}

.section img {
    width: 80%;
    height: auto;
}

.footer {
    background-color: #000; /* Fondo negro */
    color: #d4af37; /* Dorado pastel */
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em; /* Aumento del tamaño del texto para el pie de página */
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #d4af37; /* Dorado pastel */
    color: #000; /* Texto negro */
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #fff; /* Fondo blanco */
    color: #000; /* Texto negro */
}
